.top-left-buttons {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 9999;
}

.top-button {
  display: block;
  margin-bottom: 8px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.top-button:hover {
  background-color: #0d3f00;
}