.dangerZone-panel { 
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 9999;
  background: rgba(40,40,40,0.9);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  width: 300px;
  max-width: 360px;
  font-family: sans-serif;
  font-size: 13px;
  max-height: 90vh;
  overflow-y: auto;
}
.dangerZone-list {
  list-style: none;
  padding: 0;
}

.dangerZone-item {
  cursor: pointer;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  background-color: #3b3b3b;
  color: rgb(255, 255, 255);
  user-select: none;
}

.dangerZone-item.selected {
  background-color: #707070;
  color: rgb(255, 255, 255);
}

.dangerZonesTitle {
  all:  unset;
  font-family: Serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #ffffff;
  line-height: 1.4;
  border: none;
  outline: none;
}

.addDangerZone-button {
  width: 100%;
  display: block;
  margin-top: 8px;
  background-color: #474747;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.addDangerZone-button:hover {
  background-color: #222222;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 8px; /* spacing between buttons */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-row button {
  flex: 1 1 30%;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button-row button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

.button-row button.remove {
  background-color:     #474747;
  color: white;
}
.button-row button.remove:hover:enabled {
  background-color: #aa0011;
}

.button-row button.edit {
  background-color: #474747;
  color: white;
}

.button-row button.edit:hover:enabled {
  background-color: #222222;
}

.close-button {
  display: block;
  margin-left: auto;
  padding: 5px;
  font-size: 12px;
  background-color: #474747;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #222222;
}