.C2-indicator {
  font-family: serif;
  font-size: 32px;
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 80px;

  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
  z-index: 1000;
}

.C2-line {
  flex: 1;
  height: 5px;
  background-color: #34bf1f;
}

.C2-text {
  color: #34bf1f;
  font-weight: bold;
  white-space: nowrap;
}